body{
    background-color: black;

}
marquee{
    color:snow;
    text-align: center;
    font-size: 25px ;
    position: absolute;
    top: 30%;
}
#Title_Card {
    position: relative;
    height: 100vh;
   }
#Game_Title{
    color: gold;
    font-size: 150px;
   text-align: center;
   font-family: MedievalSharp;
}

.Mute_Button{
    position:absolute;
    top: 69%;
    left: 44%;
    height: 38px;
    width: 38px;
}
#Start_Button{
    position:absolute;
    top: 68%;
    right: 45%;
   height: 40px;
   border-color:white;
   color: gold;
   text-align: center;
   font-family: MedievalSharp;
   background-color: black;
   border-width: 0.5mm;
   font-size: 20px;
}
#Start_Button:hover{
    color:red;
    border-color:gold;
    /* transform: scale(1.5); */
}
.hide{
    visibility: hidden;
    display: none;
}
.show{
    visibility: visible;
    display: inline-block;
}
#side_Animation{
    position: fixed;
    top: 10%;
    right: 15%;
    background: url("C:\Users\7J8020897\Documents\GitHub\Duo-apprentice-project\ottoman.png") no-repeat;
}