/* You can add global styles to this file, and also import other style files */
html { 
    overflow-x: hidden; 
    overflow-y: hidden; 
}

body{
    background-color: black;
}

@font-face {
    font-family: "MedievalSharp";
    src: local("MedievalSharp"), url(./assets/fonts/MedievalSharp/MedievalSharp-Regular.ttf) format("truetype");
}
